body{
font-family: Arial, sans-serif;
background: #f4f6f9;
margin: 0;
padding: 0;
text-align: center;
}


h1,h2{
color:#2c3e50;
margin-top:20px;
}


.menu a{
display:inline-block;
margin:10px;
padding:12px 20px;
background:#3498db;
color:white;
text-decoration:none;
border-radius:6px;
font-weight:bold;
transition:0.3s;
}


.menu a:hover{
background:#2ecc71;
transform:scale(1.05);
}


table{
width:80%;
margin:auto;
border-collapse:collapse;
background:white;
box-shadow:0px 4px 10px rgba(0,0,0,0.1);
}

th{
background:#3498db;
color:white;
padding:12px;
}

td{
padding:10px;
border:1px solid #ddd;
}

tr:nth-child(even){
background:#f2f2f2;
}


button{
background:#27ae60;
color:white;
border:none;
padding:10px 20px;
border-radius:5px;
cursor:pointer;
font-size:16px;
}

button:hover{
background:#219150;
}


input,select{
padding:10px;
margin:8px;
border-radius:5px;
border:1px solid #ccc;
width:200px;
}